<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.restaurant.mapper.RtUserMapper">

    <resultMap type="com.example.restaurant.domain.RtUser" id="RtUserResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="nickname"    column="nickname"    />
        <result property="role"    column="role"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectRtUserVo">
        select id, username, password, nickname, role, del_flag, create_time, create_by, update_time, update_by from rt_user
    </sql>

    <select id="selectRtUserList" parameterType="com.example.restaurant.domain.RtUser" resultMap="RtUserResult">
        <include refid="selectRtUserVo"/>
        <where>del_flag='0'
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
            <if test="role != null  and role != ''"> and role = #{role}</if>
        </where>
    </select>

    <select id="selectRtUserById" parameterType="long" resultMap="RtUserResult">
        <include refid="selectRtUserVo"/>
        where del_flag='0' and id = #{id}
    </select>
    <select id="selectUserByUsername" parameterType="string" resultMap="RtUserResult">
        <include refid="selectRtUserVo"/>
        where del_flag='0' and username = #{username}
    </select>

    <insert id="insertRtUser" parameterType="com.example.restaurant.domain.RtUser" useGeneratedKeys="true" keyProperty="id">
        insert into rt_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="nickname != null">nickname,</if>
            <if test="role != null">role,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="role != null">#{role},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateRtUser" parameterType="com.example.restaurant.domain.RtUser">
        update rt_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="role != null">role = #{role},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRtUserById" parameterType="long">
        update rt_user set del_flag='2' where id = #{id}
    </delete>

    <delete id="deleteRtUserByIds" parameterType="long">
        update rt_user set del_flag='2' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>